Data cleansing for 3 datasets

In [1]:
import pandas as pd
import numpy as np

In [2]:

df1 = pd.read_csv('dataset_1.csv')

In [3]:
df1.head(20)

,Sex,Age,School failure,Whatsapp,W,Facebook,F,Instagram,I,Twitter,...,Perceived loneliness,SM checking,Video-games and online play,Time spent on line playng videogames,BSMAS,BSMAS cut-off underlined,RSES,CSIQ-A,STAI Y-1,STAI Y-2
0,Female,18,No,1,Yes,0,No,1,Yes,0,...,As always,Infrequently (1-2 times),Often,1-3 hours,16,16,26,23,50,53
1,Female,19,Yes,1,Yes,1,Yes,1,Yes,0,...,As always,Infrequently (1-2 times),Infrequently,1-3 hours,9,9,13,29,44,46
2,Male,18,No,1,Yes,0,No,1,Yes,0,...,As always,Never,Sometimes,Approximately one hour,21,21,18,16,37,40
3,Male,17,Yes,1,Yes,1,Yes,1,Yes,0,...,As always,Quite often (every Very often (every 10 minute...,Infrequently,1-3 hours,12,12,19,25,39,50
4,Male,17,No,1,Yes,0,No,1,Yes,0,...,Less alone,Infrequently (1-2 times),Everyday,More than five hours,11,11,18,19,42,48
5,Male,17,No,1,Yes,0,No,1,Yes,0,...,As always,Never,Everyday,1-3 hours,9,9,20,32,47,47
6,Female,18,Yes,1,Yes,1,Yes,1,Yes,0,...,Less alone,Infrequently (1-2 times),Never,I don't play,13,13,17,17,42,48
7,Male,17,No,1,Yes,0,No,1,Yes,0,...,As always,Never,Often,3-5 hours,18,18,19,29,42,50
8,Female,18,No,1,Yes,1,Yes,1,Yes,0,...,As always,Infrequently (1-2 times),Never,I don't play,18,18,19,14,31,42
9,Female,14,No,1,Yes,0,No,1,Yes,0,...,Less alone,Infrequently (1-2 times),Infrequently,I don't play,13,13,24,32,43,51
10,Female,17,No,1,Yes,0,No,1,Yes,0,...,As always,Never,Never,I don't play,24,24,27,25,38,44
11,Male,17,No,1,Yes,0,No,1,Yes,0,...,As always,Infrequently (1-2 times),Everyday,3-5 hours,17,17,15,19,45,45
12,Female,17,No,0,No,0,No,1,Yes,0,...,Less alone,Infrequently (1-2 times),Infrequently,<1 hour,24,24,14,21,36,45
13,Female,18,No,0,No,0,No,1,Yes,0,...,More alone,Quite often (every Very often (every 10 minute...,Often,3-5 hours,21,21,9,18,43,54
14,Female,17,No,0,No,0,No,1,Yes,0,...,As always,Infrequently (1-2 times),Infrequently,I don't play,6,6,9,22,41,47
15,Female,16,Yes,1,Yes,0,No,1,Yes,0,...,As always,Quite often (every Very often (every 10 minute...,Infrequently,<1 hour,14,14,19,19,39,47
16,Female,18,No,1,Yes,0,No,1,Yes,0,...,As always,Very often (every 10 minutes),Sometimes,<1 hour,14,14,6,21,48,51
17,Female,16,No,1,Yes,0,No,1,Yes,0,...,Less alone,Never,Never,I don't play,6,6,18,25,57,40
18,Male,16,No,1,Yes,0,No,1,Yes,0,...,As always,Never,Often,1-3 hours,17,17,14,23,36,54
19,Female,16,No,1,Yes,0,No,0,No,0,...,As always,Infrequently (1-2 times),Never,I don't play,13,13,19,15,47,47

In [5]:
# Checking column names that I'm wanting to drop
print(df1.columns.tolist())

['Sex', 'Age', 'School failure', 'Whatsapp', 'W', 'Facebook', 'F', 'Instagram', 'I', 'Twitter', 'Tw', 'Snapchat', 'S', 'TikTok', 'Tk', 'Other social', 'O', 'Time spent on social media', 'Daily use of social media', 'Which Device', 'Time flows', 'Perceived anxiety during SM use', 'Perceived loneliness', 'SM checking', 'Video-games and online play', 'Time spent on line playng videogames', 'BSMAS', 'BSMAS cut-off underlined', 'RSES', 'CSIQ-A', 'STAI Y-1', 'STAI Y-2']

In [6]:
# Dropping columns that aren't needed
df1.drop(columns=['W', 'F', 'I', 'Tw', 'S', 'Tk', 'O', 'Video-games and online play', 'Time spent on line playng videogames', 'BSMAS cut-off underlined', 'CSIQ-A', 'STAI Y-1', 'STAI Y-2'], inplace=True)

In [7]:
# Checking they've been dropped
print(df1.columns.tolist())

['Sex', 'Age', 'School failure', 'Whatsapp', 'Facebook', 'Instagram', 'Twitter', 'Snapchat', 'TikTok', 'Other social', 'Time spent on social media', 'Daily use of social media', 'Which Device', 'Time flows', 'Perceived anxiety during SM use', 'Perceived loneliness', 'SM checking', 'BSMAS', 'RSES']

In [12]:
# Replacing the values to ensure consistency throughout all datasets

df1.replace({
    'Sex': {'Male': 1, 'Female': 2},
    'Time spent on social media': {'0-2': 0, '2-4': 1, '4-6': 2, '6-8': 3, '8-10': 4, '10 or more': 5},
    'School failure': {'No': 0, 'Yes': 1},
    'Daily use of social media': {'No': 0, 'Yes': 1},
    'Which Device': {'Smartphone': 0, 'Smartphone and computer': 2, 'Other': 3},
    'Time flows': {'Slower': 0, 'As always': 1, 'Faster': 2},
    'Perceived anxiety during SM use': {'Less anxious': 0, 'As always': 1, 'More anxious': 2},
    'Perceived loneliness': {'Less alone': 0, 'As always': 1, 'More alone': 2},
    'SM checking': {'Never': 0, 'Infrequently (1-2 times)': 1, 'Very often (every 10 minutes)': 2, 'Quite often (every Very often (every 10 minutes)0 minutes)': 3}
}, inplace=True)

C:\Users\jodie\AppData\Local\Temp\ipykernel_24100\4178111082.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df1.replace({

In [15]:
# ensuring all data has changed to what is needed 

df1.head(60)

,Sex,Age,School failure,Whatsapp,Facebook,Instagram,Twitter,Snapchat,TikTok,Other social,Time spent on social media,Daily use of social media,Which Device,Time flows,Perceived anxiety during SM use,Perceived loneliness,SM checking,BSMAS,RSES
0,2,18,0,1,0,1,0,0,1,0,4,1,0,2,1,1,1,16,26
1,2,19,1,1,1,1,0,0,0,0,1,1,0,2,1,1,1,9,13
2,1,18,0,1,0,1,0,0,0,0,2,1,0,1,1,1,0,21,18
3,1,17,1,1,1,1,0,0,1,0,5,1,2,1,1,1,3,12,19
4,1,17,0,1,0,1,0,0,0,0,1,1,0,2,0,0,1,11,18
5,1,17,0,1,0,1,0,0,0,0,1,1,0,2,1,1,0,9,20
6,2,18,1,1,1,1,0,0,1,0,3,1,0,2,1,0,1,13,17
7,1,17,0,1,0,1,0,0,0,1,1,1,0,1,1,1,0,18,19
8,2,18,0,1,1,1,0,0,0,0,2,1,0,1,1,1,1,18,19
9,2,14,0,1,0,1,0,0,1,0,1,1,0,1,0,0,1,13,24
10,2,17,0,1,0,1,0,0,0,0,1,1,0,1,1,1,0,24,27
11,1,17,0,1,0,1,0,0,0,1,1,1,0,1,0,1,1,17,15
12,2,17,0,0,0,1,0,0,0,0,3,1,0,1,1,0,1,24,14
13,2,18,0,0,0,1,0,0,1,0,3,0,2,2,1,2,3,21,9
14,2,17,0,0,0,1,0,0,1,0,1,1,0,2,1,1,1,6,9
15,2,16,1,1,0,1,0,0,1,0,4,1,0,1,0,1,3,14,19
16,2,18,0,1,0,1,0,0,0,0,5,1,0,1,1,1,2,14,6
17,2,16,0,1,0,1,0,0,0,0,0,1,0,2,1,0,0,6,18
18,1,16,0,1,0,1,0,0,0,0,0,1,0,1,1,1,0,17,14
19,2,16,0,1,0,0,0,0,1,0,2,0,0,0,1,1,1,13,19
20,1,19,0,1,0,1,0,0,0,0,0,1,0,2,1,2,0,9,4
21,1,18,1,1,0,1,0,0,0,1,1,1,0,2,1,2,0,13,16
22,2,15,0,1,0,1,0,0,0,0,1,1,0,1,1,1,0,12,17
23,1,18,1,1,0,1,0,0,0,0,1,1,2,2,1,1,0,9,25
24,2,18,0,1,1,1,0,0,0,0,2,1,0,1,1,1,1,15,19
25,2,17,0,1,0,1,0,0,0,0,4,1,0,2,1,1,1,18,15
26,1,16,1,1,0,1,0,0,1,0,2,1,2,2,1,1,3,16,16
27,2,18,0,1,1,1,0,0,1,0,2,1,0,2,1,1,1,13,18
28,2,18,1,1,0,1,0,0,0,0,4,1,0,2,1,0,2,15,9
29,2,16,0,1,0,1,0,0,1,0,2,1,0,1,1,2,0,12,7
30,2,16,1,1,0,1,0,0,0,0,1,1,0,2,1,1,0,9,11
31,2,16,1,1,1,1,0,0,1,0,1,0,0,1,1,1,1,11,22
32,1,18,0,1,0,1,0,0,0,0,1,1,0,2,2,2,1,14,18
33,2,17,0,0,0,1,1,0,0,0,3,1,0,2,0,0,3,10,14
34,2,19,1,1,0,1,0,0,1,0,2,1,0,1,1,0,1,13,11
35,2,17,0,1,0,1,0,0,0,0,1,1,0,2,1,0,1,15,9
36,1,16,0,1,0,0,0,0,0,0,2,0,0,1,1,1,0,9,17
37,2,18,0,1,0,1,0,0,0,0,1,1,0,1,1,1,1,10,16
38,2,17,0,1,0,1,0,0,1,0,1,1,0,2,1,2,1,9,6
39,2,16,1,1,0,1,0,1,0,0,5,1,0,2,0,0,1,10,17
40,2,14,0,1,0,1,0,1,1,1,0,0,0,2,2,2,0,17,20
41,1,18,0,1,0,1,0,0,0,0,0,1,0,2,1,1,0,12,22
42,1,18,1,1,0,1,0,0,0,0,0,1,0,1,1,1,0,18,18
43,2,18,0,1,0,1,0,0,0,0,1,0,0,1,1,1,1,13,14
44,1,16,0,1,0,1,0,0,0,0,1,1,0,1,1,1,0,17,21
45,2,17,0,0,0,1,0,0,1,0,3,1,0,0,1,2,1,17,15
46,2,18,0,1,0,1,0,0,1,0,2,1,0,2,1,1,0,12,12
47,1,14,0,1,0,1,0,0,1,1,0,1,0,2,1,1,0,17,12
48,1,16,0,1,1,1,0,0,0,0,1,1,2,1,1,1,1,22,19
49,2,16,0,1,0,1,0,0,0,0,0,1,0,2,1,0,0,15,18
50,1,16,0,1,0,1,0,0,0,0,1,1,0,1,1,1,0,15,22
51,2,19,1,1,0,1,0,0,1,0,2,1,0,2,1,1,3,18,17
52,2,17,0,1,0,1,0,0,0,0,1,0,0,1,1,2,0,8,17
53,1,17,0,1,0,0,0,0,0,0,0,1,2,1,1,1,0,9,20
54,2,16,0,1,0,0,0,0,0,0,2,1,0,1,1,1,0,13,18
55,1,15,0,1,0,1,0,0,1,0,2,1,2,1,1,1,0,8,24
56,2,19,1,1,0,1,0,0,0,0,1,1,0,2,1,1,1,18,7
57,2,18,0,1,0,1,0,0,0,0,1,1,0,1,1,1,1,11,21
58,2,19,0,1,0,1,0,0,0,0,1,1,0,2,1,0,1,11,8
59,2,16,0,1,0,1,0,0,1,0,2,1,0,1,0,0,1,17,15

In [16]:
# Saving a new dataset so it doesn't overwrite original

df1.to_csv('clean_dataset_1.csv', index=False)

Dataset 2 cleansing

In [17]:
df2 = pd.read_csv('dataset_2.csv')

In [18]:
df2.head(20)

,Age,Sex,Social_Media_Hours,Exercise_Hours,Sleep_Hours,Screen_Time_Hours,Survey_Stress_Score,Wearable_Stress_Score,Support_System,Academic_Performance
0,16,F,9.7,2.458001,5.198926,8.158189,3,0.288962,Moderate,Excellent
1,17,M,9.2,0.392095,8.866097,5.151993,5,0.409446,Moderate,Good
2,15,M,5.0,0.520119,4.943095,9.209325,2,0.423837,Moderate,Poor
3,17,F,8.0,1.022630,5.262773,9.823658,5,0.666021,Moderate,Average
4,17,F,1.4,1.225462,6.196080,11.338990,5,0.928060,High,Poor
5,14,M,9.8,1.046108,9.282089,5.677747,5,0.070586,Low,Poor
6,15,F,9.6,2.290941,4.790720,8.860167,4,0.953354,Low,Excellent
7,15,F,1.6,0.290854,4.733405,8.026163,4,0.910201,Moderate,Poor
8,15,M,3.0,1.053651,6.963850,7.252061,5,0.117732,Low,Poor
9,17,M,1.0,2.511720,5.658463,10.904165,2,0.183585,Moderate,Good
10,16,M,2.7,0.200391,7.412368,2.031673,1,0.311596,High,Excellent
11,15,F,8.2,2.827031,6.709820,4.821116,3,0.559666,Low,Good
12,18,F,3.8,2.958951,6.609755,7.382772,4,0.134476,Moderate,Good
13,17,M,0.9,0.265705,4.671838,3.782933,1,0.200335,Low,Good
14,14,M,3.4,0.873818,4.846298,11.078665,4,0.902675,Moderate,Excellent
15,16,F,9.8,1.117202,8.926471,8.475951,4,0.109301,Low,Average
16,18,M,6.3,2.329174,9.315296,6.778830,4,0.398878,High,Excellent
17,18,F,4.2,1.787780,5.408101,10.147018,5,0.763002,Low,Good
18,14,F,1.7,1.933097,4.680763,6.508862,5,0.888583,High,Average
19,16,M,9.9,2.272529,4.320500,7.586530,4,0.336043,High,Poor

In [20]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5001 entries, 0 to 5000
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Age                    5001 non-null   int64
 1   Sex                    5000 non-null   object
 2   Social_Media_Hours     5000 non-null   float64
 3   Exercise_Hours         5001 non-null   float64
 4   Sleep_Hours            5001 non-null   float64
 5   Screen_Time_Hours      5000 non-null   float64
 6   Survey_Stress_Score    5001 non-null   int64
 7   Wearable_Stress_Score  5000 non-null   float64
 8   Support_System         5000 non-null   object
 9   Academic_Performance   5001 non-null   object
dtypes: float64(5), int64(2), object(3)
memory usage: 390.8+ KB

In [22]:
# Checking where we have null values
df2.isnull().sum()

Age                      0
Sex                      1
Social_Media_Hours       1
Exercise_Hours           0
Sleep_Hours              0
Screen_Time_Hours        1
Survey_Stress_Score      0
Wearable_Stress_Score    1
Support_System           1
Academic_Performance     0
dtype: int64

In [23]:
# Dropping the rows with null values in
df2.dropna(inplace=True)

In [25]:
# Checking null rows have been dropped
df2.isnull().sum()

Age                      0
Sex                      0
Social_Media_Hours       0
Exercise_Hours           0
Sleep_Hours              0
Screen_Time_Hours        0
Survey_Stress_Score      0
Wearable_Stress_Score    0
Support_System           0
Academic_Performance     0
dtype: int64

In [26]:
# Checking on columns we have for decision on whether to drop any 
print(df2.columns.tolist())

['Age', 'Sex', 'Social_Media_Hours', 'Exercise_Hours', 'Sleep_Hours', 'Screen_Time_Hours', 'Survey_Stress_Score', 'Wearable_Stress_Score', 'Support_System', 'Academic_Performance']

In [29]:
# Dropping columns not needed
df2.drop(columns=['Exercise_Hours', 'Wearable_Stress_Score', 'Support_System'], inplace=True)

KeyError: "['Exercise_Hours', 'Wearable_Stress_Score', 'Support_System'] not found in axis"

In [30]:
df2.head(3)

,Age,Sex,Social_Media_Hours,Sleep_Hours,Screen_Time_Hours,Survey_Stress_Score,Academic_Performance
0,16,F,9.7,5.198926,8.158189,3,Excellent
1,17,M,9.2,8.866097,5.151993,5,Good
2,15,M,5.0,4.943095,9.209325,2,Poor

In [31]:
df2.replace({
    'Sex': {'M': 1, 'F': 2},
    'Survey_Stress_Score': {'1': 0, '2': 0, '3': 1, '4': 2, '5': 2},
    'Academic_Performance': {'Poor': 1, 'Excellent': 0, 'Good': 0, 'Average': 0}
}, inplace=True)

C:\Users\jodie\AppData\Local\Temp\ipykernel_24100\3886660105.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df2.replace({

In [32]:
df2.rename(columns={'Academic_Performance': 'School failure'}, inplace=True)

In [33]:
df2.head(4)

,Age,Sex,Social_Media_Hours,Sleep_Hours,Screen_Time_Hours,Survey_Stress_Score,School failure
0,16,2,9.7,5.198926,8.158189,3,0
1,17,1,9.2,8.866097,5.151993,5,0
2,15,1,5.0,4.943095,9.209325,2,1
3,17,2,8.0,5.262773,9.823658,5,0

In [34]:
# Rounding the sleep hours up to whole number and screen time hours to one decimal place
df2['Sleep_Hours'] = df2['Sleep_Hours'].round()
df2['Screen_Time_Hours'] = df2['Screen_Time_Hours'].round(1)

In [35]:
df2.head(4)

,Age,Sex,Social_Media_Hours,Sleep_Hours,Screen_Time_Hours,Survey_Stress_Score,School failure
0,16,2,9.7,5.0,8.2,3,0
1,17,1,9.2,9.0,5.2,5,0
2,15,1,5.0,5.0,9.2,2,1
3,17,2,8.0,5.0,9.8,5,0

In [36]:
# Bin edges and labels
bins = [0, 2, 4, 6, 8, 10, float('inf')]
labels = [0, 1, 2, 3, 4, 5]

# Replace screen time values with the bin label
df2['Screen_Time_Hours'] = pd.cut(df2['Screen_Time_Hours'], bins=bins, labels=labels, right=False)

In [40]:
# Checking bins worked
df2.head(6)

,Age,Sex,Social_Media_Hours,Sleep_Hours,Screen_Time_Hours,Survey_Stress_Score,School failure
0,16,2,9.7,5.0,4,1,0
1,17,1,9.2,9.0,2,2,0
2,15,1,5.0,5.0,4,0,1
3,17,2,8.0,5.0,4,2,0
4,17,2,1.4,6.0,5,2,1
5,14,1,9.8,9.0,2,2,1

In [39]:
# bin to sort out the survey stress score
bins = [0, 2, 3, 5]  # upper limits: up to 2, then 3, then 4-5
labels = [0, 1, 2]

df2['Survey_Stress_Score'] = pd.cut(df2['Survey_Stress_Score'], bins=bins, labels=labels, right=True, include_lowest=True)

In [42]:
# bins for social media hours to ensure consistency with other dataset
bins = [0, 2, 4, 6, 8, 10, float('inf')]
labels = [0, 1, 2, 3, 4, 5]

# Replace the values in the existing column with the binned categories
df2['Social_Media_Hours'] = pd.cut(df2['Social_Media_Hours'], bins=bins, labels=labels, right=False)

In [44]:
df2.head(6)

,Age,Sex,Social_Media_Hours,Sleep_Hours,Screen_Time_Hours,Survey_Stress_Score,School failure
0,16,2,4,5.0,4,1,0
1,17,1,4,9.0,2,2,0
2,15,1,2,5.0,4,0,1
3,17,2,4,5.0,4,2,0
4,17,2,0,6.0,5,2,1
5,14,1,4,9.0,2,2,1

In [45]:
# Saving a new dataset so it doesn't overwrite original

df2.to_csv('clean_dataset_2.csv', index=False)

In [46]:
df3 = pd.read_csv('dataset_3.csv')

In [47]:
df3.head(10)

,1. What is your age?,2. Gender,3. Relationship Status,4. Occupation Status,5. What type of organizations are you affiliated with?,6. Do you use social media?,Facebook,Instagram,Twitter,Snapchat,...,11. Do you feel restless if you haven't used Social media in a while?,"12. On a scale of 1 to 5, how easily distracted are you?","13. On a scale of 1 to 5, how much are you bothered by worries?",14. Do you find it difficult to concentrate on things?,"15. On a scale of 1-5, how often do you compare yourself to other successful people through the use of social media?","16. Following the previous question, how do you feel about these comparisons, generally speaking?",17. How often do you look to seek validation from features of social media?,18. How often do you feel depressed or down?,"19. On a scale of 1 to 5, how frequently does your interest in daily activities fluctuate?","20. On a scale of 1 to 5, how often do you face issues regarding sleep?"
0,21.0,Male,In a relationship,University Student,University,Yes,1,1,1,0,...,2,5,2,5,2,3,2,5,4,5
1,21.0,Female,Single,University Student,University,Yes,1,1,1,0,...,2,4,5,4,5,1,1,5,4,5
2,21.0,Female,Single,University Student,University,Yes,1,1,0,0,...,1,2,5,4,3,3,1,4,2,5
3,21.0,Female,Single,University Student,University,Yes,1,1,0,0,...,1,3,5,3,5,1,2,4,3,2
4,21.0,Female,Single,University Student,University,Yes,1,1,0,0,...,4,4,5,5,3,3,3,4,4,1
5,22.0,Female,Single,University Student,University,Yes,1,1,1,0,...,2,3,4,3,4,4,3,3,2,4
6,21.0,Female,Married,University Student,University,Yes,1,1,0,1,...,2,2,4,3,5,3,4,5,5,3
7,21.0,Female,In a relationship,University Student,University,Yes,1,1,0,0,...,3,3,3,1,1,3,1,5,5,1
8,21.0,Female,In a relationship,University Student,University,Yes,1,1,0,0,...,3,3,1,1,1,3,1,5,5,1
9,24.0,Male,Single,University Student,University,Yes,1,1,0,0,...,2,4,3,5,4,2,3,5,4,5

In [48]:
df3.isnull().sum()

1. What is your age?                                                                                                     0
2. Gender                                                                                                                0
3. Relationship Status                                                                                                   0
4. Occupation Status                                                                                                     0
5. What type of organizations are you affiliated with?                                                                  14
6. Do you use social media?                                                                                              0
Facebook                                                                                                                 0
Instagram                                                                                                                0
Twitter                                                                                                                  0
Snapchat                                                                                                                 0
TikTok                                                                                                                   0
Other                                                                                                                    0
7. What social media platforms do you commonly use?                                                                      0
8. What is the average time you spend on social media every day?                                                         0
9. How often do you find yourself using Social media without a specific purpose?                                         0
10. How often do you get distracted by Social media when you are busy doing something?                                   0
11. Do you feel restless if you haven't used Social media in a while?                                                    0
12. On a scale of 1 to 5, how easily distracted are you?                                                                 0
13. On a scale of 1 to 5, how much are you bothered by worries?                                                          0
14. Do you find it difficult to concentrate on things?                                                                   0
15. On a scale of 1-5, how often do you compare yourself to other successful people through the use of social media?     0
16. Following the previous question, how do you feel about these comparisons, generally speaking?                        0
17. How often do you look to seek validation from features of social media?                                              0
18. How often do you feel depressed or down?                                                                             0
19. On a scale of 1 to 5, how frequently does your interest in daily activities fluctuate?                               0
20. On a scale of 1 to 5, how often do you face issues regarding sleep?                                                  0
dtype: int64

In [49]:
print(df3.columns.tolist())

['1. What is your age?', '2. Gender', '3. Relationship Status', '4. Occupation Status', '5. What type of organizations are you affiliated with?', '6. Do you use social media?', 'Facebook', 'Instagram', 'Twitter', 'Snapchat', 'TikTok', 'Other', '7. What social media platforms do you commonly use?', '8. What is the average time you spend on social media every day?', '9. How often do you find yourself using Social media without a specific purpose?', '10. How often do you get distracted by Social media when you are busy doing something?', "11. Do you feel restless if you haven't used Social media in a while?", '12. On a scale of 1 to 5, how easily distracted are you?', '13. On a scale of 1 to 5, how much are you bothered by worries?', '14. Do you find it difficult to concentrate on things?', '15. On a scale of 1-5, how often do you compare yourself to other successful people through the use of social media?', '16. Following the previous question, how do you feel about these comparisons, generally speaking?', '17. How often do you look to seek validation from features of social media?', '18. How often do you feel depressed or down?', '19. On a scale of 1 to 5, how frequently does your interest in daily activities fluctuate?', '20. On a scale of 1 to 5, how often do you face issues regarding sleep?']

In [50]:
df3.drop(columns=['3. Relationship Status', '4. Occupation Status', '5. What type of organizations are you affiliated with?', '6. Do you use social media?', '7. What social media platforms do you commonly use?', '9. How often do you find yourself using Social media without a specific purpose?', '10. How often do you get distracted by Social media when you are busy doing something?', "11. Do you feel restless if you haven't used Social media in a while?",  '12. On a scale of 1 to 5, how easily distracted are you?', '13. On a scale of 1 to 5, how much are you bothered by worries?', '14. Do you find it difficult to concentrate on things?', '15. On a scale of 1-5, how often do you compare yourself to other successful people through the use of social media?', '16. Following the previous question, how do you feel about these comparisons, generally speaking?', '17. How often do you look to seek validation from features of social media?', '19. On a scale of 1 to 5, how frequently does your interest in daily activities fluctuate?'], inplace=True)

In [51]:
df3.head(2)

,1. What is your age?,2. Gender,Facebook,Instagram,Twitter,Snapchat,TikTok,Other,8. What is the average time you spend on social media every day?,18. How often do you feel depressed or down?,"20. On a scale of 1 to 5, how often do you face issues regarding sleep?"
0,21.0,Male,1,1,1,0,0,1,Between 2 and 3 hours,5,5
1,21.0,Female,1,1,1,0,0,1,More than 5 hours,5,5

In [57]:
df3.replace({
    '2. Gender': {'Male': 1, 'Female': 2},
    }, inplace=True)

In [58]:
df3.head(20)

,1. What is your age?,2. Gender,Facebook,Instagram,Twitter,Snapchat,TikTok,Other,8. What is the average time you spend on social media every day?,18. How often do you feel depressed or down?,"20. On a scale of 1 to 5, how often do you face issues regarding sleep?"
0,21.0,1,1,1,1,0,0,1,2,5,5
1,21.0,2,1,1,1,0,0,1,5,5,5
2,21.0,2,1,1,0,0,0,1,3,4,5
3,21.0,2,1,1,0,0,0,0,5,4,2
4,21.0,2,1,1,0,0,0,1,2,4,1
5,22.0,2,1,1,1,0,1,1,2,3,4
6,21.0,2,1,1,0,1,1,1,3,5,3
7,21.0,2,1,1,0,0,0,1,5,5,1
8,21.0,2,1,1,0,0,0,1,5,5,1
9,24.0,1,1,1,0,0,0,1,2,5,5
10,21.0,2,1,1,0,1,1,1,3,3,2
11,22.0,2,1,1,1,1,0,1,3,3,5
12,21.0,2,1,1,1,1,0,1,3,3,3
13,22.0,1,1,0,0,0,0,1,5,5,5
14,23.0,1,1,1,0,0,0,1,1,3,2
15,21.0,1,1,0,0,0,0,1,0,4,3
16,25.0,1,1,1,0,0,0,1,4,2,2
17,28.0,1,1,0,0,0,0,1,1,3,1
18,22.0,1,1,1,0,0,0,1,2,2,2
19,23.0,1,1,1,1,0,1,1,5,3,1

In [55]:
df3.replace({
    '8. What is the average time you spend on social media every day?': {'Less than an Hour': 0, 'Between 1 and 2 hours': 1, 'Between 2 and 3 hours': 2, 'Between 3 and 4 hours': 3, 'Between 4 and 5 hours': 4, 'More than 5 hours': 5},
}, inplace=True)

C:\Users\jodie\AppData\Local\Temp\ipykernel_24100\3098546442.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df3.replace({

In [59]:
df3.head(10)

,1. What is your age?,2. Gender,Facebook,Instagram,Twitter,Snapchat,TikTok,Other,8. What is the average time you spend on social media every day?,18. How often do you feel depressed or down?,"20. On a scale of 1 to 5, how often do you face issues regarding sleep?"
0,21.0,1,1,1,1,0,0,1,2,5,5
1,21.0,2,1,1,1,0,0,1,5,5,5
2,21.0,2,1,1,0,0,0,1,3,4,5
3,21.0,2,1,1,0,0,0,0,5,4,2
4,21.0,2,1,1,0,0,0,1,2,4,1
5,22.0,2,1,1,1,0,1,1,2,3,4
6,21.0,2,1,1,0,1,1,1,3,5,3
7,21.0,2,1,1,0,0,0,1,5,5,1
8,21.0,2,1,1,0,0,0,1,5,5,1
9,24.0,1,1,1,0,0,0,1,2,5,5

In [60]:
df3.rename(columns={
    '1. What is your age?': 'Age',
    '2. Gender': 'Sex',
    '8. What is the average time you spend on social media every day?': 'Social Media Hours',
    '18. How often do you feel depressed or down?': 'How Often Feel Depressed or Down',
    '20. On a scale of 1 to 5, how often do you face issues regarding sleep?': 'How Often Issues with Sleep'
}, inplace=True)

In [61]:
df3.head(2)

,Age,Sex,Facebook,Instagram,Twitter,Snapchat,TikTok,Other,Social Media Hours,How Often Feel Depressed or Down,How Often Issues with Sleep
0,21.0,1,1,1,1,0,0,1,2,5,5
1,21.0,2,1,1,1,0,0,1,5,5,5

In [62]:
df3.to_csv('clean_dataset_3.csv', index=False)